{
    "processors": ["stylelint-processor-html"],
    "extends": "stylelint-config-recommended-vue",
    "plugins": ["stylelint-order"],
    "options": {
        "formatter": "stylish"
    },
    "customSyntax": "postcss-html",
    "rules": {
        "function-no-unknown": null,
        "color-function-notation": "legacy",
        "font-family-name-quotes": "always-unless-keyword",
        "length-zero-no-unit": null,
        "block-no-empty": null,
        "at-rule-no-unknown": null,
        "selector-pseudo-element-colon-notation": "single",
        "declaration-empty-line-before": null,
        "no-descending-specificity": null,
        "selector-class-pattern": null,
        "no-invalid-double-slash-comments": null,
        "comment-empty-line-before": null,
        "import-notation": null,
        "no-invalid-position-at-import-rule": null,
        "no-empty-source": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "media-query-no-invalid": null,
        "order/properties-order": [
            "content",
            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",
            "display",
            "grid-row-start",
            "grid-row-end",
            "grid-column-start",
            "grid-column-end",
            "speak",
            "float",
            "clear",
            "overflow",
            "overflow-x",
            "overflow-y",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "margin-collapse",
            "margin-top-collapse",
            "margin-right-collapse",
            "margin-bottom-collapse",
            "margin-left-collapse",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "font",
            "font-family",
            "font-size",
            "font-smoothing",
            "font-style",
            "font-weight",
            "line-height",
            "letter-spacing",
            "word-spacing",
            "text-align",
            "text-decoration",
            "text-indent",
            "text-overflow",
            "text-rendering",
            "text-size-adjust",
            "text-shadow",
            "text-transform",
            "word-break",
            "word-wrap",
            "white-space",
            "vertical-align",
            "list-style",
            "list-style-type",
            "list-style-position",
            "list-style-image",
            "border",
            "border-collapse",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-color",
            "border-image",
            "border-top-color",
            "border-right-color",
            "border-bottom-color",
            "border-left-color",
            "border-spacing",
            "border-style",
            "border-top-style",
            "border-right-style",
            "border-bottom-style",
            "border-left-style",
            "border-width",
            "border-top-width",
            "border-right-width",
            "border-bottom-width",
            "border-left-width",
            "border-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-top-left-radius",
            "border-radius-topright",
            "border-radius-bottomright",
            "border-radius-bottomleft",
            "border-radius-topleft",
            "color",
            "background",
            "background-attachment",
            "background-color",
            "background-image",
            "background-position",
            "background-repeat",
            "background-size",
            "background-clip",
            "box-align",
            "box-flex",
            "box-orient",
            "box-pack",
            "box-shadow",
            "box-sizing",
            "opacity",
            "pointer-events",
            "cursor",
            "user-select",
            "clip",
            "quotes",
            "outline",
            "outline-offset",
            "filter",
            "visibility",
            "zoom",
            "backface-visibility",
            "resize",
            "appearance",
            "direction",
            "transform",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function",
            "animation",
            "animation-delay",
            "animation-duration",
            "animation-iteration-count",
            "animation-name",
            "animation-play-state",
            "animation-timing-function",
            "animation-fill-mode"
        ]
    }
}
