@keyframes flash {
    0% {
        opacity: 20%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes activate {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes charging {
    0% {
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

@keyframes destroyed {
    0% {
        opacity: 0.4;
    }

    100%{
        opacity: 1;
    }
}


